@import "tailwindcss";

@import "../../node_modules/preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

@theme {
    /* --color-primary: #f8f9fa;
    --color-secondary: #9b2226;
    --color-secondaryhvr: #6a040f; */

    --color-primary: #f4f5f0;
    --color-secondary: #166534;
    --color-secondaryhvr: #14532d;

    --font-sans: "Montserrat", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover);

html {
    scroll-behavior: smooth;
}
